*{
    margin: 0px;
    padding: 0px;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    background-color: gray;
}
.menu>ul{
    display: flex;
    gap: 50px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.menu>ul>li{
list-style: none;
}
.menu>ul>li:hover{
    cursor: pointer;
    background-color: bisque;

}
.banner-container{
    height: 100vh;
    background-image: url('asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    /* text-align: center; */
}
.highlight{
    color: red;
}
.banner-info{
    text-align: center;
}
.tittle{
    font-size: 60px;
    color: white;
    font-weight: 800;
    
}
.description{
    color: white;
    padding: 15px;
    width: 40%;
    margin: auto;
    font-size: 20px;
}
.button{
    padding: 10px 20px;
    font-weight:bolder;
    border: 0px;
    border-radius: 20px;
    margin-left: 20px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif */
}
#Discover{
    background-color: red;
    color: white;
    
}
#Hire{
    color: red;
}
.service-contain{
    height: 100vh;
    background-image: url('asset/image/footer-bg.png'), linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    display: flex;
    padding: 50px;
}
.my-bio{
    color: white;
    width: 40%;
}
#service{
    color: white;
}
div .profile-contain{
    margin-bottom: 250px;
}
.pic{
    display: flex;
    align-items: center;
    padding: 20px;
}
.info{
    color: white;
}
.profile{
    padding: 30px;
}
.graph-contain{
    width: 100px;
    height: 100px;
    background-color: aqua;
}